@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}
.fs16{
  @apply text-base font-semibold leading-[19.5px] text-secondary
}
.custom-container{
  @apply max-w-[1440px] mx-auto xl:px-[90px] sm:px-8 px-5  w-full
}

.custom-bg{
  background-image: url("/public/assets/images/hero.png");
  background-size: 100% 100%;
}
.section-title{
  @apply capitalize font-bold text-[32px] leading-10 text-secondary text-center
}
.section-sub_title{
  @apply text-center  text-text-gray text-xl leading-6
}
*{
  padding: 0 ;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}